body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.slider{
    margin: 0 auto;
    padding: 0;
    width: 950px;
    height: 390px;
    overflow:hidden;
    margin-top: 100px;
    margin-bottom: 50px;

    
}

.slides{
    width: 500%;
    height: 390px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 35%;
    position: relative;
    transition: 0,1s;
}

.slide img{
    width: 950px;
}

.manual-controls{
    position: absolute;
    width: 800px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    display: none;
}

.manual-btn{
    border: 2px solid rgb(44, 5, 5);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}

.manual-btn:hover{
    background-color: white;
    
}

#radio1:checked ~.first{
    margin-right: 0;
}

#radio2:checked ~.first{
    margin-right: -20% ;
}

#radio3:checked ~.first{
    margin-right: -50%;
}

#radio4:checked ~.first{
    margin-right: -100%;
}

#radio5:checked ~.first{
    margin-right: -140%;
}

#radio6:checked ~.first{
    margin-right: -175%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s; 
    display: none;   
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 370px;
    display: flex;
    justify-content: center;   
}

.navigation-auto div:not(:last-child){
    margin-right: 15px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #000;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #000;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #000;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #000;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: #000;
}

#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: #000;
}
