body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Billing Lottre";
    src: url("Billing Lottre.woff");
}
@font-face {
    font-family: "Choco Shake";
    src: url("Choco-Shake.woff");
}
#servico{
    min-width: 1575px;
}
.caixa-servico{
    width: 340px;
    height: auto;
    text-align: center;
    padding-bottom: 30px;
    margin: 10px;
    background-color: white;
    position: relative;
    top: 50px;
    margin-bottom: 120px;
    transition: 0.5s;
    border-radius: 10px;
}
.caixa-servico:hover{
    box-shadow: 10px 7px gray;
    border: 5px #DC0089;
    border-style:groove;
    background-color: #C94086;
    color: white;
    transition: 0.5s;
}
.lista-servico{
    list-style-type:circle;
    list-style-position:inside;
    padding: 2px;
    font-size: 0.9em;
}
.caracteristicas-servico{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}
.titulo-caixa-servico{
    font-family: Billing Lottre;
    font-size: 1.35em;
}
.preco-servico{
    font-weight: bold;
    font-size: 1.3em;
    font-style: italic;
}
.agendamento-botao{
    background-color: #FCB2F7;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    height: 30px;
}
.agendamento-botao:hover{
    background-color: #DC0089;
    color: aliceblue;
    font-style:italic;
}

#servico{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FCB2F7;
}