body {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}
body #paginasobre,html #paginasobre{
    height: auto;
    width: 100%;
    background-color: #FCB2F7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
#sobre{
    padding: 15px;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    font-size: 1.6em;
    padding: 20px;
    position: relative;
    top: 200px;
    border-radius: 50px;
    min-width: 820px;
    padding-right: 50px;

}
#logo-meio-div{
    display: flex;
    justify-content: center;
}
#sobre img#logo{
    margin-top: -150px;
    border-radius: 330px;
    
}
#texto-sobre{
    display: flex;
    text-align: justify;
    padding: 50px;
    font-size: 0.8em;
    width: 100%;
}
.bold-sobre{
    font-weight: 700;
}
.imagem-pagina-sobre{
    width: 35%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.titulo-pagina-sobre{
    text-align: center;
}
.texto-pagina-sobre{
    width: 60%;
    font-size: 0.8em;
}