body{
    background-color: white;
    background-image: url(../img/s2.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;

}
:root{
    --cor-borda: #FBC2F7;
    --cor-titulo: #7A2578;
}  

.container-contato{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 90px;
}

.h1-servic{
    text-align: center;
    color: var(--cor-titulo);
}

#contato{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    margin-bottom: 40px;
    
}
#div-contato{
    display: block;
    width: 40%;
    text-align: center;
}

#ul-contato{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 7px;
    padding: 7px;
    background-color: #faf7f7;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border: 10px solid var(--cor-borda);
    backdrop-filter: blur(2px); 
   
}

#ul-contato:hover{
    box-shadow: 15px 15px 30px #FCB2F7,
    -15px -15px 30px #FCB2F7;
    border-style:groove;
    color: black;
    transition: 0.5s;   
}

#ul-contato li{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: var(--cor-titulo);
    font-size: 16px;
    cursor: pointer;
    list-style-type: none;
}

#div-formulario{
    width: 50%;
    
}

#formulario{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border: 10px solid var(--cor-borda);
    background-color: #faf7f7;
    backdrop-filter: blur(8px);  
}

#formulario:hover{
    box-shadow: 15px 15px 30px #FCB2F7,
    -15px -15px 30px #FCB2F7;
    border-style:groove;
    color: black;
    transition: 0.5s;  
}

fieldset{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 7px;
    padding: 7px;
    gap:5px;
    
}

input{
    width: 80%;
    margin: 0 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h2{
    text-align: center;
    color: var(--cor-titulo);
}

#div-maps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.maps{
    width: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 10px solid var(--cor-borda);
    background-color: #faf7f7
}